
.container{
    border: 5px solid black;
    width: fit-content;
    height: 850px;
    border-radius: 10px;
    display: flex;
    flex: 1;
   margin: 45px;
    overflow: hidden;
   background-image: url('../Components/recipes.jpg');

    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 60px;

}


 .nombre{
   overflow: hidden;
   text-align: center;
   width: 500px;
   font-size: 34px;
   color : rgb(171, 171, 32);
   border: 5px solid  black;
   margin-left: 30px;
   cursor: pointer;
   background-color: rgb(57, 69, 65);
   text-shadow: 3px 6px 5px rgb(14, 16, 14);
 }


.nombre:hover{
      color : rgb(240, 66, 205);
      transition: 1s;

}

.diet{
     align-items: center;
     text-align: center;
     overflow: hidden;
     width: 540px;
     font-size: 30px;
     color: rgb(13, 108, 21);
     text-shadow: 3px 6px 5px rgb(14, 16, 14);
     margin-left: 20px;
     border: 3px solid black;
     background-color: rgb(57, 69, 65);
     border-style: dashed;
}

.imgP {
     border-radius :30px;
     border-style: inset;
     border-color: rgb(75, 3, 3) rgb(245, 218, 69);
     border-width: 10px;
     margin-top: 30px;
     margin: 0 50px;
     height: 400px;
     width: 460px;  
     box-shadow : 30px 30px 80px;
     
  }

  .imgP:hover{
     color : rgb(234, 15, 15);
     transition: 1s;
  }